.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 48px;
    right: -5px;
    background: #ffffff;
    padding: 12px 14px;
    border-radius: 14px;
    display: none;
    flex-direction: column;
    gap: 6px;
    width: 180px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    animation: fadeDropdown 0.25s ease-out;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background: #3f51b5; /* warna kampus */
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.profile-dropdown {
    position: relative;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-avatar {
    width: 35px;
    height: 35px;
    background-color: #000;   
    color: #fff;            
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    transition: 
        background-color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.profile-avatar:hover {
    background-color: #1E3A8A;
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(30,58,138,0.45);
}

.profile-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.profile-name {
    font-size: 14px;
    font-weight: 600;
    color: #111;
}

.profile-nim {
    font-size: 11px;    
    color: #9ca3af;     
}

@keyframes fadeDropdown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDropdown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 10px;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none !important;
    color: #1a1a1a !important;
    transition: 0.20s ease-in-out;
}

.dropdown-menu a i {
    font-size: 18px;
    color: #1E3A8A;
}

.dropdown-menu a:hover {
    background: #eef3ff;
    transform: translateX(4px);
    text-decoration: none !important;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
